
<%- include('header') %>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Animal Adoption</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dogs">Dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cats">Cats</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/create_animal">Release New Animal</a>
                    <a class="dropdown-item" href="#">Sign up</a>
                    <a class="dropdown-item" href="#">Log in</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<div class="display_animal_form" style="margin-top: 3.5em;">
    <div class="animal_div">
        <!--card-header -->
        <div class="card-header">
            <h1 class="text-center">Please Enter Your Information</h1>
        </div>
        <!-- /.card-header -->
        <!-- form start -->
        <div class="container">
            <form id="form" onsubmit="onSubmit()">
                <div class="card-body">
                    <div class="form-group">
                        <label>Your name</label>
                        <input type="text" id="Name" name="Name" class="form-control" required="required" placeholder="Nmae">
                    </div>
                    <div class="form-group">
                        <label>Location</label>
                        <input type="text" id="Location" name="Location" class="form-control" required="required" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input type="number" id="Age" name="Age" class="form-control" required="required" placeholder="Age">
                    </div>
                    <div class="form-group">
                        <label>Experience</label>
                        <input type="text" id="Experience" name="Experience" required="required" class="form-control" placeholder="Phone Number">
                    </div>
                    <div class="form-group">
                        <label>Job</label>
                        <input type="text" id="Job" name="Job" class="form-control" required="required" placeholder="Lawyer">
                    </div>
                    <div class="form-group">
                        <label>Income</label>
                        <input type="number" id="Income" name="Income" class="form-control" required="required" placeholder="5000">
                    </div>
                    <div class="form-group">
                        <label>AdoptReason</label>
                        <textarea class="form-control"  rows="5" required="required" id="AdoptReason" name="AdoptReason"></textarea>
                    </div>


                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                    <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<br>

<script src="/javascripts/adoption_form.js"></script>
<%- include('footer') %>