<%- include('header') %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Animal Adoption</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/homepage">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/dogs">Dogs <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cats">Cats</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/create_animal">Release New Animal</a>
                    <a class="dropdown-item" href="#">Sign up</a>
                    <a class="dropdown-item" href="#">Log in</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div id="page-wrapper" style="margin-top: 3.5em;">
    <% if(animals.length>0){ %>
        <h1 style="color:#e2e2e2">All dogs list:</h1>
        <div id="wrapper">
        <% for(let i=0; i< animals.length; i++) {%>
            <div class="card" style="margin: 2em">
                <br>
                <img src="/images/dog1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= animals[i].Type %></h5>
                    <p class="card-text"><%= animals[i].Gender %></p>
                    <a href="#" class="btn btn-primary">See More Details</a>
                </div>
            </div>
            <% }%>
        </div>
    <%}else{ %>
        <h1 style="color:#e2e2e2">No result, Click <a href="/homepage" class="btn btn-primary">Back</a> to return the home page.</h1>
    <% } %>
</div>
<%- include('footer') %>
