
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Animal Adoption</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/stylesheets/CSS/style.css">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
</head>