<%- include('header') %>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Animal Adoption</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cats</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="main" style="margin-top: 3.5em;">
    <div class="adoptionforms">
        <h2>Thank you for your purchasing</h2>
        <br>
        <h3>Here is your form information</h3>
        <br>
    </div>

    <div><label style="font-size: x-large">Your Name</label>
        <div><label style="font-size: x-large">Your Name<%= adoptionforms.UserID.Name%></label>


    <div class="fig1">
        <img class="figure-img" src="/images/cat1.jpg" alt="a kitten" style="margin-bottom: 0">
    </div>
    <div class="fig2">
        <img class="figure-img" src="/images/cat2.jpg" alt="a kitten">
    </div>
    <div class="fig3">
        <img class="figure-img" src="/images/dog1.jpg" alt="a dog">
    </div>
    <div class="fig4">
        <img class="figure-img" src="/images/cat3.jpg" alt="a kitten">
    </div>
    <div class="fig5">
        <img class="figure-img" src="/images/dog2.jpg" alt="a dog" style="margin-bottom: 0">
    </div>
    <div class="text2">
        <h2>Thank you</h2>
        <h3>Let the pet be a part of your life</h3>
        <p>
            We appreciate you being able to provide a warm home for a cute little pet
        </p>
        <p>
            Please wait for a while, your cute little pet will be delivered to your home
        </p>
    </div>
</div>
<%- include('footer') %>