<%- include('header') %>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="main" style="margin-top: 3.5em;">
    <div class="title">
        <h2>Thank you for your purchasing</h2>
        <br>
        <h3>Here is your form information</h3>
        <br>
        <div><label style="font-size: x-large">Your Name</label>
            <input disabled style="border: 30px" type="text"></div>
        <div><label style="font-size: x-large">Your Address</label>
            <input disabled type="text"></div>
        <div><label style="font-size: x-large">Your Phone</label>
            <input disabled type="text"></div>
    </div>
    <div class="fig1">
        <img class="figure-img" src="images/kitten1.jpeg" alt="a kitten">
    </div>
    <div class="fig2">
        <img class="figure-img" src="images/kitten2.jpeg" alt="a kitten">
    </div>
    <div class="fig3">
        <img class="figure-img" src="images/kitten3.jpeg" alt="a kitten">
    </div>
    <div class="fig4">
        <img class="figure-img" src="images/kitten4.jpeg" alt="a kitten">
    </div>
    <div class="fig5">
        <img class="figure-img" src="images/kitten5.jpeg" alt="a kitten">
    </div>
    <div class="fig6">
        <img class="figure-img" src="images/kitten6.jpeg" alt="a kitten">
    </div>
    <div class="text2">
        <h2>Thank you</h2>
        <h3>Let the pet be a part of your life</h3>
        <p>
            We appreciate you being able to provide a warm home for a cute little pet
        </p>
        <p>
            Please wait for a while, your cute little pet will be delivered to your home
        </p>
    </div>
</div>
<%- include('footer') %>